.track {
  transition:
    background-color 200ms ease,
    border-color 200ms ease;

  input:checked + & {
    background-color: var(--mantine-color-teal-7);
    border-color: var(--mantine-color-teal-7);

    & > .thumb {
      background-color: var(--text);

      &::before {
        background-color: var(--text);
      }
    }
  }
}

input:focus-visible + .track.track,
input:focus + .track.track {
  outline: 2px dashed var(--mantine-primary-color-filled);
  outline-offset: 2px;
}
